<div class="container">
  <div class="row key-points-triple">
    <div class="four columns">
      <h4>Customer Discovery</h4>
      <p>Learn about what your future customers need</p>
    </div>
    <div class="four columns">
      <h4>Learn About Problems</h4>
      <p>Gain valuable insights about what your market wants or needs</p>
    </div>
    <div class="four columns">
      <h4>Inform Your Decisions</h4>
      <p>Don't waste time guessing. Take a more calculated approach</p>
    </div>
  </div>
</div>
