<div class="container">
  <div class="row key-points-triple" data-aos="fade">
    <div class="bubble four columns">
      <h5>Customer Discovery</h5>
      <p>Learn about what your future customers need</p>
    </div>
    <div class="bubble four columns">
      <h5>Learn About Problems</h5>
      <p>Gain valuable insights about what your market wants or needs</p>
    </div>
    <div class="bubble four columns">
      <h5>Inform Your Decisions</h5>
      <p>Don't waste time guessing. Take a more calculated approach</p>
    </div>
  </div>
</div>
